{% extends "base.html" %}

{% block body %}
{% load static %}
{% load dajaxice_templatetags %}
{% dajaxice_js_import %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script src="{% static '/static/dajax/jquery.dajax.core.js' %}"></script>
<script>
</script>

<style type="text/css" media="screen">
    #editor, #console { 
        position: relative;
        height: 200px;
        width: 600px;
    }
</style>

<h1>第{{ lesson.sequence }}课 {{ lesson.title }}</h1>
<br />
<p>{{ lesson.content }}</p>
<br />
<div id="editor">{{ lesson.quiz.pre_code }}</div>
<input type="button" value="提交代码 ( Ctrl+B )" onclick="run_code();" />
<div id="next_lesson" style="visibility: hidden;display:inline-block">
{% if lesson.next_lesson %}
<form action="" method="post">
  {% csrf_token %}
  <input type="submit" value="进入下一课" />
</form>
{% else %}
完成本系列课程，返回<a href="/course/{{ lesson.course.id }}/">课程列表</a>
{% endif %}  
</div>
<div id="console"></div>

<script src="http://ace.c9.io/build/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
    editor.focus();
    editor.commands.addCommand({
        name: 'run',
        bindKey: {win: 'Ctrl-B',  mac: 'Command-B'},
        exec: function(editor) {
            run_code();
        },
    });

    var console = ace.edit("console");
    console.setTheme("ace/theme/twilight");
    console.getSession().setMode("ace/mode/plain_text");
    console.setReadOnly(true);

    function run_code() {
        Dajaxice.oj.run_code(
            Dajax.process,
            {
                'code': editor.getValue(),
                {% if lesson.quiz %}
                    'quiz': {{ lesson.quiz.id }}
                {% endif %}
            }
        );
    }

    function show_result(result) {
        console.setValue(result[0], 1);
        editor.focus();
        if (result[1] == true) {
            alert('bingo!');
            var next = document.getElementById('next_lesson');
            next.style.visibility = 'visible';
        }
        else {
            alert('try again!');
        }
    }
</script>
{% endblock %}
