{% load static %}

<html>
  <header>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <link rel="stylesheet" href="{% static '/static/css/jqm-color.min.css' %}" />
  </header>
  <body>
    <div data-role="header" data-theme="b">
      <h1>CA</h1>
      <!--h1>Crossin的编程教室</h1-->
      <a href="/static/wechat/index.html" class="ui-btn-right" data-ajax="false">去学习</a>
    </div>
    <div class="ui-body ui-body-a">
      {% block body %}
      {% endblock %}
    </div>
    {% block outer %}
    {% endblock %}
  </body>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="{% static '/static/js/jquery.caret.1.02.min.js' %}"></script>
  {% block script %}
  {% endblock %}
</html>
