{% extends "mobile.html" %}

{% block body %}
<form method="POST" id="" action="/checkin/register/" data-ajax="false">
  {% csrf_token %}
  <p><input type="text" name="username" placeholder="用户名" /></p>
  <p><input type="password" id="password" name="password" placeholder="密码" />
  </p>
  <p>
    <input type="checkbox" name="checkbox-mini-0" id="checkbox-mini-0" onchange="onChange()">
    <label for="checkbox-mini-0" style="line-height:1">显示密码</label>
  </p>
  {% if error %}
  <p><font color="red">此用户名已被注册，请重新尝试</font></p>
  {% endif %}
  <input type="submit" data-theme="b" value="注册" />
</form>

<script type="text/javascript">
function onChange() {
  var isChecked = document.getElementById('checkbox-mini-0').checked;
  if (isChecked) {
    document.getElementById('password').type = 'text';
  }
  else {
    document.getElementById('password').type = 'password';
  }
}
</script>
{% endblock %}
