{% extends "mobile.html" %}

{% block body %}
<div align="center">
  <br />
  <h2><i>Good Job!</i></h2>
  <h1>你已连续学习 <font color="brown">{{ stat.running_days }}</font> 天</h1>
  <h3>
    共学习 <font color="brown">{{ stat.checkin_days }}</font> 天
    </br>
    已获得 <font color="brown">{{ stat.exp }}</font> 点经验值
  </h3>
  <a href="/checkin/profile/" data-role="button" data-inline="true" data-ajax="false">查看详情</a>
  <a href="index.html" data-role="button" data-inline="true" data-theme="b">分享</a>
</p>
{% endblock %}
