{% load static %}

<html>
  <header>
    <title>Crossin的编程教室 - 在线例程</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.mobile-1.4.5.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.mobile.structure-1.4.5.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jqm-color.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.mobile.icons.min.css' %}" />
    {% block header %}
    {% endblock %}    
  </header>
  <body>
    {% block body %}
    {% endblock %}
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=30493657" charset="UTF-8"></script>
  </body>
</html>
