<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <header>
    <title>Crossin的编程教室 - 在线例程</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
  </header>
  <body>
    <ul data-role="listview" data-ajax="false" data-inset="true" data-theme="c">
      <li data-role="list-divider">{{ sample.title }}</li>
      <li>{{ sample.desc | safe}}</li>
      <li data-theme="a"><a onclick="document.getElementById('code-form').submit()" data-transition="slide">在线运行演示代码</a></li>
    </ul>
    <form id="code-form" method="post" action="/oj/wechat/">
      {% csrf_token %}
      <textarea name="code" style="display:none">{{ sample.code }}</textarea>
    </form>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=30493657" charset="UTF-8"></script>
  </body>
</html>
