{% extends "oj/oj.html" %}

{% block body %}
<ul data-role="listview" data-ajax="false" data-inset="true">
  <li data-role="list-divider" data-theme="b">{{ sample.title }}</li>
  <li>{{ sample.desc | safe}}</li>
  <li data-theme="b"><a onclick="document.getElementById('code-form').submit()" data-transition="slide" data-ajax="false">在线运行演示代码</a></li>
  {% if sample.url %}
  <li><a href="{{ sample.url }}">参考教程</a></li>
  {% endif %}
</ul>
<form id="code-form" method="post" action="/oj/wechat/">
  {% csrf_token %}
  <textarea name="code" style="display:none">{{ sample.code }}</textarea>
  <input type="hidden" name="url" value="{{ sample.url }}" />
</form>
{% endblock %}
