{% load static %}

<html>
  <header>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <script src="{% static '/static/js/jquery.caret.1.02.min.js' %}"></script>

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />

    <script>
    function matchKey(str, suffix) {
        return str.match(suffix+"$")==suffix;
    }
    $( document ).on( "pageinit", function( event ) {
        $("[data-role=header]").fixedtoolbar({ hideDuringFocus: "" });
        $("#code").attr("rows", 20);

        $("textarea#code").keyup(function (e) {
            if(e.keyCode == 13) {
                var text = $(this).val();
                var s = $(this).caret().start;
                var code = text.substring(0, s-1);
                var rest = text.substring(s);
                var space = code.split(/\n/).pop().match(/^\s*/)[0];
                if (code.charAt(code.length-1) == ":") {
                    space += "    "
                }
                text = code + "\n" + space + rest;
                $("textarea#code").val(text);
                s = s + space.length;
                $("textarea#code").caret(s, s);
            }
        });

        $("a#pa").click(function() {
            var text = $("textarea#code").val();
            var s = $("textarea#code").caret().start;
            var code = text.substring(0, s);
            if (matchKey(code, "for")) {
                var rest = text.substring(s)
                var space = code.split(/\n/).pop().match(/^\s*/)[0];
                var ac = " #TODO# in #TODO#:\n" + space + "    #TODO#";
                text = code + ac + rest;
                $("textarea#code").val(text);
            }
            else if (matchKey(code, "if")) {
                var rest = text.substring(s)
                var space = code.split(/\n/).pop().match(/^\s*/)[0];
                var ac = " #TODO#:\n" + space + "    #TODO#";
                text = code + ac + rest;
                $("textarea#code").val(text);    
            }
            else if (matchKey(code, "else")) {
                var rest = text.substring(s)
                var space = code.split(/\n/).pop().match(/^\s*/)[0];
                var ac = ":\n" + space + "    #TODO#";
                text = code + ac + rest;
                $("textarea#code").val(text);    
            }
            else if (matchKey(code, "while")) {
                var rest = text.substring(s)
                var space = code.split(/\n/).pop().match(/^\s*/)[0];
                var ac = " #TODO#:\n" + space + "    #TODO#";
                text = code + ac + rest;
                $("textarea#code").val(text);    
            }
            else if (matchKey(code, "def")) {
                var rest = text.substring(s)
                var space = code.split(/\n/).pop().match(/^\s*/)[0];
                var ac = " #TODO#(#TODO#):\n" + space + "    #TODO#";
                text = code + ac + rest;
                $("textarea#code").val(text);    
            }
            else if (matchKey(code, "class")) {
                var rest = text.substring(s)
                var space = code.split(/\n/).pop().match(/^\s*/)[0];
                var ac = " #TODO#:\n" + space + "    #TODO#";
                text = code + ac + rest;
                $("textarea#code").val(text);    
            }
            else if (matchKey(code, "try")) {
                var rest = text.substring(s)
                var space = code.split(/\n/).pop().match(/^\s*/)[0];
                var ac = ":\n" + space + "    #TODO#\n" + space + "except #TODO#:\n" + space + "    #TODO#";
                text = code + ac + rest;
                $("textarea#code").val(text);    
            }
            else if (matchKey(code, "from")) {
                var rest = text.substring(s)
                var ac = " #TODO# import #TODO#";
                text = code + ac + rest;
                $("textarea#code").val(text);    
            }
            if (text.indexOf("#TODO#") != -1) {
                $("textarea#code").caret("#TODO#");
            }
        });
    });
    </script>
  </header>
  <body>
    <div data-role="header" data-position="fixed" data-theme="b" data-tap-toggle="false">
      <div data-role="navbar">
	<ul>
	  <li><a id="pa">Pa!</a></li>
          <li><a onclick="document.getElementById('code-form').submit();">Run</a></li>
	</ul>
      </div>
    </div>
    <form id="code-form" method="post" action="/oj/output/">
      {% csrf_token %}
      <textarea name="code" id="code" data-theme="a" data-corners="false" placeholder="# tap here to start your code" style="height:340px" wrap="off">{{ code }}</textarea>
    </form>
  </body>
</html>
