{% extends "mobile.html" %}

{% block body %}
<ul data-role="listview" data-ajax="false" data-inset="true" data-theme="c">
  <li data-role="list-divider">课程</li>
  <li><a href="">Python</a></li>
  <li><a href="">PyGame</a></li>
  <li><a href="">Git</a></li>
  <li data-role="list-divider">练习</li>
  <li><a href="">每日一坑</a></li>
  <li><a href="">编程擂台</a></li>
  <li data-role="list-divider">文章</li>
  <li><a href="">闲聊</a></li>
  <li><a href="">转载</a></li>
  <li data-role="list-divider">交流</li>
  <li><a href="">论坛 - Crossin.me</a></li>
  <li><a href="">QQ群</a></li>
  <li><a href="">微社区(仅限微信访问)</a></li>
  <li data-role="list-divider">其他</li>
  <li><a href="">友情推荐</a></li>
</ul>
{% endblock %}
